@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.f-container {
  background: rgba(221, 241, 253, 0.2);
  height: 200px;
  text-align: left;
  padding: 5px;
  margin: 10px 0;
  color: #000;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 6px #b8b8b8; 
	   -moz-box-shadow: 2px 2px 6px #b8b8b8;
          box-shadow: 2px 2px 6px #b8b8b8;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #f7f7f7;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  min-height: 50px;
  width: 75%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header {
  height: 30px;
  width: 100%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-header svg {
  margin: 5px;
}

.text {
  margin: 20px;
}

.text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.col-form {
  width: 100%;
  height: 75%;
}

.col-hrefs {
  width: 100%;
  height: 25%;
  padding-top: 10px;
  padding-left: 35%;
}


/* quando maior que 768 */
@media (min-width: 768px) {
  .col-form {
    width: 80%;
    height: 100%;
  }

  .col-hrefs {
    width: 20%;
    height: 100%;
    padding-top: 65px;
    padding-left: 0;
  }

}

@media (max-width: 768px) {
  .f-container {
    height: 250px;
  }
}

.col-form div {
  display: flex;
  flex-direction: column;
}

.col-form label {
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.col-form input {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  width: 70%;
}

@media (max-width: 767px) {
  .col-form input {
    width: 100%;
  }
}

.col-hrefs button {
  width: 110px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  border: 0;
  background: transparent;
}

.col-hrefs button:hover{
  opacity: 0.8;
}